extends layout_auth.pug

block content
    secton(class='section')
        div(class='container is-fluid')
            div(class='columns is-centered')
                div(class='column is-11')
                    div(class='columns')
                        div(class='column')
                            article(class='message is-success')
                                div(class='message-header')
                                    p Welcome, #{user.displayName}
                                div(class='message-body')
                                    p(class='is-size-6') This site is being built to allow management of multiple B2C tenants within Azure. You can curently perform the follwing tasks.
                                    div(class='content')
                                        ul
                                            li List users from the following Azure B2C tenants.
                                                ul
                                                    li andrewtestingb2c
                                                    li IAPSBXB2C
                                                    li IAPDEVB2C
                                                    li IAPTSTB2C
                                            li Add a new user to the following B2C
                                                ul 
                                                    li andrewtestingb2c         
                                    br
                        div(class='column')
                            if (user)
                                article(class='message is-success')
                                    div(class='message-header')
                                        p User Information
                                    div(class='message-body')
                                        p(class='is-size-6')
                                            table(class='table is-bordered is-striped is-hoverable is-fullwidth')
                                                tbody
                                                    tr 
                                                        td Display Name
                                                        td #{user.displayName}
                                                    tr
                                                        td City
                                                        td #{user._json.city}
                                                    tr
                                                        td Email
                                                        td #{user._json.emails}
                                                    tr 
                                                        td OID
                                                        td #{user.oid}
                                                    tr 
                                                        td Job Title
                                                        td #{user._json.jobTitle}
        div(class='container is-fluid')
            div(class='columns is-centered')
                 div(class='column is-11')
                    div(class='columns')
                        div(class='column')
                            article(class='media notification is-info')
                                figure(class='media-left')
                                    p(class='image is-64x64')
                                        img(src='images/node.png')
                                div(class='media-content')
                                    div(class='content')
                                        h1(class='title')
                                            a(href='https://nodejs.org/en/') Node JS
                                        p(class='is-size-7') As an asynchronous event-driven JavaScript runtime, Node.js is designed to build scalable network applications. Many connections can be handled concurrently.
                        div(class='column') 
                            article(class='media notification is-info')
                                figure(class='media-left')
                                    p(class='image is-64x64')
                                        img(src='images/pug.svg')
                                div(class='media-content')
                                    div(class='content')
                                        h1(class='title')
                                            a(href='https://pugjs.org') Pug
                                        p(class='is-size-7') Pug is a high-performance template engine heavily influenced by Haml and implemented with JavaScript for Node.js and browsers.

                        div(class='column') 
                            article(class='media notification is-info')
                                figure(class='media-left')
                                    p(class='image is-64x64')
                                        img(src='images/bulma.png' href='https://bulma.io/')
                                div(class='media-content')
                                    div(class='content')
                                        h2(class='title')
                                            a(href='https://bulma.io/') Bulma
                                        p(class='is-size-7') Bulma is a free, open source CSS framework based on Flexbox and used by more than 200,000 developers.