doctype html
html(lang='en')
  head
    title Staff Directory
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Staff Directory
    .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th ObjectID
            th Created Date/Time
            th DisplayName
            th Sign In Name
        tbody
          each user in data
            tr
                td #{user.objectId}
                td #{user.createdDateTime}
                td #{user.displayName}
                if user.signInNames == undefined
                    td #{user.signInNames[0].value}
                else
                    td No Names


        tfoot
          tr
            th(colspan='6')
    footer
      p © #{new Date().getFullYear()} My Company