extends layout.pug

block content
    
    section(class='section')
        div(class='dropdown is-hoverable')
            div(class='dropdown-trigger')
                button(class='button')
                    span() Tenant Name
                    span(class='icon is-small')
                        i(class='fas fa-angle-down')
            div(class='dropdown-menu')    
                div(class='dropdown-content')
                    a(class='dropdown-item' href='/users') Tenant 1
                    a(class='dropdown-item' href='/users') Tenant 2
                    a(class='dropdown-item' href='/users') Tenant 3
        <br/><br/>
        p(class='is-size-4') Tenant: #{tenant} 
        <br/>
        table(class='table is-bordered is-striped is-hoverable is-fullwidth')
            thead
                tr
                    th DisplayName
                    th Sign In Name
                    th ObjectID
                    th Created Date/Time
            tbody
                each user in data
                    tr
                        td #{user.displayName}
                        if user.signInNames.length
                            td #{user.signInNames[0].value}
                        else
                            td No signInNames
                        td #{user.objectId}
                        td #{user.createdDateTime}
