extends layout.pug

block content
    section(class='section')
        p(class='is-size-4') Tenant: #{tenant}
        br
        table(class='table is-bordered is-striped is-hoverable is-fullwidth')
            thead
                tr
                    th DisplayName
                    th Sign In Name
                    th ObjectID
                    th Created Date/Time
            tbody
                each user in data
                    tr
                        td #{user.displayName}
                        if user.signInNames.length
                            td #{user.signInNames[0].value}
                        else
                            td No signInNames
                        td #{user.objectId}
                        td #{user.createdDateTime}


