extends layout_auth.pug

block content
    
    section(class='section')
        article(class='message is-info')
                div(class='message-body')
                    div(class='content is-size-5')
                        p Please choose the tenant you would like to list from the dropdown below.
        div(class='dropdown is-hoverable')
            div(class='dropdown-trigger')
                button(class='button')
                    span() Tenant Name
                    span(class='icon is-small')
                        i(class='fas fa-angle-down')
            div(class='dropdown-menu')    
                div(class='dropdown-content')
                    a(class='dropdown-item' href='/users?tenant=andrewtestingb2c') andrewtestingb2c
                    a(class='dropdown-item' href='/users?tenant=IAPSBXB2C') IAPSBXB2C
                    a(class='dropdown-item' href='/users?tenant=IAPDEVB2C') IAPDEVB2C
                    a(class='dropdown-item' href='/users?tenant=IAPTSTB2C') IAPTSTB2C
        <br/><br/>
        //Form dropdown testing
        //form(action='/users' method='post')
        //     div(class='field has-addons')
        //        div(class='control is-expanded' type)
        //            div(class='select')
        //                select(name='Azure Tenant')
        //                    option(value='Tenant 1') Tenant 1
        //                    option(value='Tenant 1') Tenant 2
        //                    option(value='Tenant 1') Tenant 3
        //        div(class='control')
        //            button(type='submit' class='button is-link') Get Userlist
        p(class='is-size-4') Tenant: #{tenant} 
        <br/>
        table(class='table is-bordered is-striped is-hoverable is-fullwidth')
            thead
                tr
                    th DisplayName
                    th Sign In Name
                    th ObjectID
                    th Created Date/Time
            tbody               
                if data
                    each user in data
                        tr
                            td #{user.displayName}
                            if user.signInNames.length
                                td #{user.signInNames[0].value}
                            else
                                td No signInNames
                            td #{user.objectId}
                            td #{user.createdDateTime}

